<h1>Create a new Artist</h1>

<form action="/artists" method="POST">
  <label for="artist_name">Artist Name</label>
  <input id="artist_name" name="name" type="text"><br>
  <label for="artist_age">Artist Age</label>
  <input id="artist_age" name="age" type="number"><br>
  <label for="artist_bio">Artist Bio</label>
  <input id="artist_bio" name="bio" type="text"><br>
  <input type="submit" value="Submit">
</form>