

<h1>Test name: <%= @boating_test.test_name %></h1>


Student name: <%= @boating_test.student.name  %> <br>
Instructor name: <%= @boating_test.instructor.name %> <br>
Test status: <%= @status_text %> <br>

