<%# this shows an empty form for creating a new article %>

    <form action="articles/new" method="GET">
        Title: <input type="text" name="title"> <br> 
        Content: <input type="text" name="content">
        <input type="submit">
    </form>